@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bs-blue: #50b5ff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #ff9b8a;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffba68;
  --bs-green: #2dcdb2;
  --bs-teal: #20c997;
  --bs-cyan: #d592ff;
  --bs-white: #fff;
  --bs-gray: #777d74;
  --bs-gray-dark: #343a40;
  --bs-primary: #50b5ff;
  --bs-secondary: #777d74;
  --bs-success: #2dcdb2;
  --bs-info: #d592ff;
  --bs-warning: #ffba68;
  --bs-danger: #ff9b8a;
  --bs-light: #dee2e6;
  --bs-gray: #adb5bd;
  --bs-dark: #212529;
  --bs-font-sans-serif: "Montserrat", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  /* outline: none; */
  accent-color: var(--bs-blue);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0 5%;
  width: 100vw;
  overflow-x: hidden;
}

.wrapper{
  position: relative;
  background-color: aliceblue;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
