navbar-view {
  display: inline-block;
  height: 50px;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar .icon-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .icon-bar ul li {
  list-style: none;
}

.navbar .icon-bar ul li img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
