{{ if not .Comments}}
<div class="comment__empty affected">No comments yet</div>
{{else}} {{ range $index,$elem := .Comments}} {{$like := "LIKE"}} {{$dislike :=
"DISLIKE"}}
<div class="comment__group affected">
  <div class="comment__header">
    <div class="comment__image">
      <img
        class="u-avatar"
        src="https://api.dicebear.com/7.x/initials/svg?seed={{.Username}}"
        alt="avatar"
        style="border-radius: 50%"
      />
      <div class="comment__name">
        <div class="comment__username">{{.Username}}</div>
        <div class="comment__date">
          <span id="comment-{{$index}}-age"> {{.Age}} </span>
        </div>
      </div>
    </div>
    {{if eq .Username $.Username}}
    <div class="comment__deledit">
      <button class="comment__delete affected">
        <i
          class="fas fa-trash"
          hx-delete="/comment/delete?commentid={{.CommentId}}&postid={{.PostId}}"
          hx-target="closest .comments__div"
        ></i>
      </button>
    </div>
    {{ end}}
  </div>
  <div class="comment__content">
    <div class="comment__text">{{.Body}}</div>
  </div>
  <div class="comment__reactions">
    <div class="reaction__group">
      <button
        {{if
        eq
        .UserReact
        $dislike}}
        style="border-right: none"
        {{end}}
        {{if
        eq
        .UserReact
        $like}}
        class="comment__likes green affected"
        {{else}}
        class="comment__likes affected"
        {{end}}
        hx-get="/comment/react?commentid={{$elem.CommentId}}&react=LIKE"
        hx-trigger="click"
        hx-target="#c{{$index}}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 4 3 15h6v5h6v-5h6z"
            stroke-width="1.5"
            stroke-linejoin="round"
          ></path>
        </svg>
        <span id="c{{$index}}"> {{.Votes}} </span>
      </button>
      <button
        {{if
        eq
        .UserReact
        $dislike}}
        class="comment__dislikes red"
        {{else}}
        class="comment__dislikes"
        {{end}}
        hx-get="/comment/react?commentid={{$elem.CommentId}}&react=DISLIKE"
        hx-trigger="click"
        hx-target="#c{{$index}}"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m12 20 9-11h-6V4H9v5H3z"
            stroke-width="1.5"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
{{end}}
<script>
  var comment1 = document.querySelectorAll(".comment__likes");
  var comment2 = document.querySelectorAll(".comment__dislikes");

  comment1.forEach((button) => {
    button.addEventListener("click", function () {
      if (button.nextElementSibling.classList.contains("red")) {
        button.nextElementSibling.classList.remove("red");
      }
      this.classList.toggle("green");
    });
  });
  comment2.forEach((button) => {
    button.addEventListener("click", function () {
      if (button.previousElementSibling.classList.contains("green")) {
        button.previousElementSibling.classList.remove("green");
      }
      button.previousElementSibling.style.borderRight = "1px solid red";
      this.classList.toggle("red");
    });
  });
</script>
{{end}}
